# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1, 100, size = (6, 4)), columns = ['A', 'B', 'C', 'D'])
print("Original Dataframe: ")
print(df)

# Setting index to first column
df.set_index('A', inplace = True)
print("Dataframe with new index: ")
print(df)

Original Dataframe:
    A   B   C   D
0  53  44  87  97
1  81  26  91  31
2  75   1  78   3
3  23  63  62  66
4  20  33   6  10
5  11  43   4  69
Dataframe with new index:
     B   C   D
A
53  44  87  97
81  26  91  31
75   1  78   3
23  63  62  66
20  33   6  10
11  43   4  69

/Users/bengj/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [5]:
df = pd.DataFrame(np.random.randint(1, 100, size = (3, 3)), columns = ['A', 'B', 'C'], index = ['X', 'Y', 'Z'])
print("Original Dataframe: ")
print(df)

# Accessing element row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element:", element)

Original Dataframe:
    A   B   C
X  88  55  78
Y  30  23  13
Z   8  77   8
Element: 23

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [8]:
df = pd.DataFrame(np.random.randint(1, 100, size = (5, 3)), columns = ['A', 'B', 'C'])
print("Original Dataframe: ")
print(df)

# Adding a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original Dataframe:
    A   B   C
0   8  46  37
1  27  36  56
2  26  25  89
3  28  51  50
4   7   8  91
DataFrame with new column:
    A   B   C     D
0   8  46  37   368
1  27  36  56   972
2  26  25  89   650
3  28  51  50  1428
4   7   8  91    56

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [9]:
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

row_sum = df.sum(axis = 1)
column_sum = df.sum(axis = 0)
print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  66  91   5
1  22  41  68
2  22  49  57
3  99  55  68
Row-wise sum:
0    162
1    131
2    128
3    222
dtype: int64
Column-wise sum:
A    209
B    236
C    198
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [15]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

df.fillna(df.mean(), inplace = True)
print('DataFrame after filling NaN values: ')
print(df)

Original DataFrame:
    A   B   C
0  83  62  76
1  77  48  23
2  92  61  54
3  69  39  27
4  91  14  49
DataFrame with NaN values:
      A     B     C
0  83.0   NaN  76.0
1  77.0  48.0  23.0
2  92.0  61.0   NaN
3  69.0  39.0  27.0
4   NaN  14.0  49.0
DataFrame after filling NaN values:
       A     B      C
0  83.00  40.5  76.00
1  77.00  48.0  23.00
2  92.00  61.0  43.75
3  69.00  39.0  27.00
4  80.25  14.0  49.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [16]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0   1  52  91  70
1  52  97  36  31
2  18  19  61  26
3  46  78  82  84
4  52  52  77  32
5  33  23  98  49
DataFrame with NaN values:
      A     B     C   D
0   1.0  52.0  91.0  70
1  52.0  97.0   NaN  31
2  18.0  19.0  61.0  26
3   NaN  78.0  82.0  84
4  52.0  52.0  77.0  32
5  33.0   NaN  98.0  49
DataFrame with NaN values dropped:
      A     B     C   D
0   1.0  52.0  91.0  70
2  18.0  19.0  61.0  26
4  52.0  52.0  77.0  32

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [23]:
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size = 10), 'Value': np.random.randint(1, 100, size = 10)})
print('Original Dataframe: ')
print(df)

# Grouping on the basis of sum and mean
grouped_df = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped_df)

Original Dataframe:
  Category  Value
0        C     10
1        C     17
2        A     75
3        C     93
4        C     19
5        A     80
6        C     26
7        B      5
8        C     14
9        A     83
Grouped DataFrame:
          sum       mean
Category
A         238  79.333333
B           5   5.000000
C         179  29.833333

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [25]:
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod1        B     26
1   Prod1        A     15
2   Prod3        A     41
3   Prod1        C     11
4   Prod2        B     32
5   Prod1        C     97
6   Prod2        B     90
7   Prod3        A     69
8   Prod2        A     37
9   Prod2        A     25
Grouped DataFrame:
Category
A    187
B    148
C    108
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [27]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size = 4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size = 4)})
print("DataFrame 1: ")
print(df1)
print("DataFrame 2: ")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on = 'Key')
print("Merged DataFrame: ")
print(merged)

DataFrame 1:
  Key  Value1
0   A      61
1   B      49
2   C      35
3   D      41
DataFrame 2:
  Key  Value2
0   A      20
1   B      89
2   C      86
3   E      83
Merged DataFrame:
  Key  Value1  Value2
0   A      61      20
1   B      49      89
2   C      35      86

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [28]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size = 3), 'B': np.random.randint(1, 100, size = 3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size = 3), 'D': np.random.randint(1, 100, size = 3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis = 0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis = 1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  52  99
1  48   6
2  25  34
DataFrame 2:
    C   D
0  58  78
1  63  24
2  56  44
Concatenated DataFrame (rows):
      A     B     C     D
0  52.0  99.0   NaN   NaN
1  48.0   6.0   NaN   NaN
2  25.0  34.0   NaN   NaN
0   NaN   NaN  58.0  78.0
1   NaN   NaN  63.0  24.0
2   NaN   NaN  56.0  44.0
Concatenated DataFrame (columns):
    A   B   C   D
0  52  99  58  78
1  48   6  63  24
2  25  34  56  44

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [29]:
date_rng = pd.date_range(start = '2024-01-01', end = '2024-12-31', freq = 'D')
df = pd.DataFrame(date_rng, columns = ['date'])
df['data'] = np.random.randint(0, 100, size = (len(date_rng)))
df.set_index('date', inplace = True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2024-01-01    76
2024-01-02    35
2024-01-03    88
2024-01-04     9
2024-01-05    95
...          ...
2024-12-27    76
2024-12-28    98
2024-12-29    76
2024-12-30    69
2024-12-31    40

[366 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2024-01-31  44.225806
2024-02-29  44.827586
2024-03-31  32.774194
2024-04-30  47.200000
2024-05-31  53.677419
2024-06-30  47.033333
2024-07-31  44.064516
2024-08-31  57.000000
2024-09-30  43.466667
2024-10-31  51.903226
2024-11-30  65.200000
2024-12-31  54.451613

/var/folders/84/qnl770ks2kvg7mwlfgc5k1cw0000gn/T/ipykernel_8068/220292751.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [11]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start = '2024-01-01', end = '2024-12-31', freq = 'D')
df = pd.DataFrame(date_rng, columns = ['date'])
df['data'] = np.random.randint(0, 100, size = (len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window = 7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2024-01-01    22
2024-01-02    53
2024-01-03    41
2024-01-04    55
2024-01-05    87
...          ...
2024-12-27    38
2024-12-28     4
2024-12-29    61
2024-12-30    27
2024-12-31    53

[366 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2024-01-01        NaN
2024-01-02        NaN
2024-01-03        NaN
2024-01-04        NaN
2024-01-05        NaN
...               ...
2024-12-27  48.000000
2024-12-28  43.571429
2024-12-29  47.285714
2024-12-30  44.428571
2024-12-31  42.428571

[366 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [9]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names = ('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size = (4, 3)), index = index, columns = ['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              77      73      87
         two              81      49      10
B        one              87      82      62
         two              67      94      15
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              77      73      87
two              81      49      10
Slicing at Category 'B' and SubCategory 'two':
Value1    67
Value2    94
Value3    15
Name: (B, two), dtype: int64

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [10]:
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names = ('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size = (6, 3)), index = index, columns = ['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              89      85      19
         two              52      84      17
B        one              74      70       4
         two              70      85      13
C        one              42      39      43
         two              77      76      15
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              89      85      19
         two              52      84      17
B        one              74      70       4
         two              70      85      13
C        one              42      39      43
         two              77      76      15

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [3]:
date_rng = pd.date_range(start = '2024-01-01', end = '2024-01-10', freq = 'D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size = 20), 'Category': np.random.choice(['A', 'B', 'C'], size = 20), 'Value': np.random.randint(1, 100, size = 20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values = 'Value', index = 'Date', columns = 'Category', aggfunc = 'sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2024-01-09        C     25
1  2024-01-03        B     15
2  2024-01-03        B     74
3  2024-01-08        C     43
4  2024-01-08        B     61
5  2024-01-04        C     66
6  2024-01-07        B      7
7  2024-01-08        C     99
8  2024-01-10        C     37
9  2024-01-03        B     33
10 2024-01-03        A     80
11 2024-01-03        C     38
12 2024-01-10        B     66
13 2024-01-06        B     95
14 2024-01-08        A     48
15 2024-01-08        B     92
16 2024-01-08        B     54
17 2024-01-03        A      5
18 2024-01-09        C     19
19 2024-01-09        A     82
Pivot Table:
Category       A      B      C
Date
2024-01-03  85.0  122.0   38.0
2024-01-04   NaN    NaN   66.0
2024-01-06   NaN   95.0    NaN
2024-01-07   NaN    7.0    NaN
2024-01-08  48.0  207.0  142.0
2024-01-09  82.0    NaN   44.0
2024-01-10   NaN   66.0   37.0

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [4]:
df = pd.DataFrame({'Year': np.random.choice([2022, 2023, 2024], size = 12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size = 12), 'Revenue': np.random.randint(1, 1000, size = 12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values = 'Revenue', index = 'Year', columns = 'Quarter', aggfunc = 'mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2022      Q2      549
1   2023      Q1      730
2   2022      Q3      938
3   2022      Q4      903
4   2022      Q3      224
5   2023      Q1      248
6   2023      Q1      987
7   2024      Q2      535
8   2022      Q4      470
9   2023      Q4      362
10  2023      Q3      854
11  2024      Q4      983
Pivot Table:
Quarter     Q1     Q2     Q3     Q4
Year
2022       NaN  549.0  581.0  686.5
2023     655.0    NaN  854.0  362.0
2024       NaN  535.0    NaN  983.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [5]:
df = pd.DataFrame(np.random.randint(1, 100, size = (5, 3)), columns = ['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  78  52  60
1  79  41  19
2  91   6  82
3  15  39  91
4  54  47  44
Doubled DataFrame:
     A    B    C
0  156  104  120
1  158   82   38
2  182   12  164
3   30   78  182
4  108   94   88

/var/folders/84/qnl770ks2kvg7mwlfgc5k1cw0000gn/T/ipykernel_8532/2107445931.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x * 2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [6]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size = (6, 3)), columns = ['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis = 1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  16  78  69
1   9  81   7
2  31  61  21
3  84  84  19
4  86  76  11
5  72  47  66
DataFrame with Sum column:
    A   B   C  Sum
0  16  78  69  163
1   9  81   7   97
2  31  61  21  113
3  84  84  19  187
4  86  76  11  173
5  72  47  66  185

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [7]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'plum', 'blueberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0        apple
1       banana
2       cherry
3         plum
4    blueberry
dtype: object
Uppercase Series:
0        APPLE
1       BANANA
2       CHERRY
3         PLUM
4    BLUEBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [8]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'plum', 'blueberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0        apple
1       banana
2       cherry
3         plum
4    blueberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    plu
4    blu
dtype: object